<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" th:href="@{/css/Bars.css}">-->
<!--<link rel="stylesheet" th:href="@{/css/Login.css}">-->
<!--<link rel="stylesheet" th:href="@{/css/category.css}">-->
<!--<link rel="stylesheet" th:href="@{/css/homecss/homeStyles.css}">-->

<head>
    <meta charset="UTF-8">
    <title>신사 숙녀 category</title>
</head>
<body>
<script>

    // 중분류 선택하면 소분류가 화면에 띄워짐
    function getSubCategory(midCId) {
        let url = new URL(window.location.href);

        if (url.searchParams.has('midCID')) {
            // 기존 midCId 쿼리 값을 덮어씀
            url.searchParams.set('midCID', midCId);
        } else {
            // 없으면 새로 추가
            url.searchParams.append('midCID', midCId);
        }

        // 페이지 이동
        window.location.href = url.toString();
    }

    //중

</script>
<h1 th:text="${param.majorCID}"></h1>

<ul th:each="ctg : ${midCategoryList}">
    <li>
        <button type="button" th:value="${ctg.getCategoryId()}" th:name="${ctg.getCategoryId()}"
                th:text="${ctg.getName()}" onclick="return getSubCategory(this.value)"></button>
    </li>
</ul>
<br>
<h1 th:text="${param.midCID}"></h1>
<ul th:each="mtg : ${subCategoryList}">
    <li>
        <button type="button" th:value="${mtg.getCategoryId()}" th:name="${mtg.getCategoryId()}"
                th:text="${mtg.getName()}" onclick=""></button>
    </li>
</ul>
</body>
</html>