<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/Bars.css}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/productDetail.css}">
</head>

<!-- Navigation-->
<div th:replace="Bars/nav_bar :: nav"></div>
<body>
<!-- Product section-->
<section class="product-detail">
    <div class="container">
        <div class="product-wrapper">
            <div class="product-image">
                <img th:src="|/images/product/${product.getProductId()}.png|" alt="상품 이미지">
                <div class="sold-out-overlay" th:if="${product.status == 'sold-out'}">SOLD OUT</div>
            </div>
            <div class="product-info">
                <div class="product-meta">SKU: BST-498</div>
                <h1 class="product-title" th:text="${product.getName()}">상품명</h1>
                <div class="product-price" th:text="${product.getPrice()}">$40.00</div>
                <p class="product-description" th:text="${product.getDescription()}">상품 설명</p>
                <form id="buyNowForm" action="/order/order" method="post" class="purchase-form">
                    <label for="inputQuantity">수량</label>
                    <input name="quantity" id="inputQuantity" type="number" value="1" min="1">
                    <label for="productDetail">옵션</label>
                    <select id="productDetail" name="productDetailId">
                        <option th:each="option : ${productDetailOptions}" th:value="${option.getProductDetailId()}">
                            <span th:text="|${option.getColor()} - ${option.getSize()}|"></span>
                        </option>
                    </select>
                    <div class="button-group">
                        <button type="button" class="btn-cart" onclick="addProductToCart()">장바구니</button>
                        <button type="submit" class="btn-buy">바로 구매</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function addProductToCart() {
        const quantity = document.getElementById('inputQuantity').value;
        const productDetailId = document.getElementById('productDetail').value;
        axios.post('/order/addToCart', {
            quantity: quantity,
            productDetailId: productDetailId
        })
            .then(function () {
                alert("장바구니에 추가되었습니다.");
            })
            .catch(function (error) {
                if (error.response && error.response.data === "fail") {
                    alert("로그인이 필요합니다.");
                    window.location.replace('/user/login');
                } else {
                    alert("오류가 발생했습니다.");
                }
            });
    }
</script>
</body>
</html>


