<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>관리자 - 상품 제고 관리</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<!--<h1 th:text="${role}">관리자</h1>-->
<h1>관리자</h1>
<h2>제고 관리</h2>
<button type="button" onclick="return addNewProduct()">
    +상품 추가 등록
</button>
<br>
<section>
    <br>
    <div>
        <div> <!-- row-cols-xl-5로 5개 배치 -->
            <!-- 2. 만약 쿼리스트링 searchProduct가 없는 경우 경우 : 모든 상품만 보여줘야 함 -->
                <div th:each="product : ${products}">
                    <div>
                        <!-- Product image-->
                        <img th:src="|/images/product/@{${product.getProductId()}}.png|" alt="Product Image" />
                        <!-- Product details-->
                        <div>
                            <div >
                                <!-- Product name-->
                                <h5 th:text="${product.getName()}">Fancy Product</h5>
                                <!-- Product reviews-->
                                <div th:if="${product.getRating() != null}">
                                    <div th:each="star : ${#numbers.sequence(1, product.getRating())}"></div>
                                </div>
                                <!-- Product price-->
                                <span th:text="'$' + ${product.price}">$40.00</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div >
                            <form>
                                <select>
                                    <option th:text="${product.getStatus()}">상품 진열 상태</option>
                                    <option id="display" th:if="${!product.getStatus().equals('display')}">display</option>
                                    <option id="stop-display" th:if="${!product.getStatus().equals('stop-display')}">stop-display</option>
                                    <option id="sold-out" th:if="${!product.getStatus().equals('sold-out')}">sold-out</option>
                                </select>
                                <button type="button"
                                        th:attr="data-id=${product.productId}"
                                        onclick="return changeProductDisplayStatus(this)">
                                    상태 변경
                                </button>
                            </form>
                            <!--   상품 정보 수정  -->
                            <div >
                                <a  th:href="@{'/manager/productInventoryMgmt/updateProductDetail?prdId=' + ${product.getProductId()}}">상품 정보 수정</a>
                            </div>
                            <button type="button">
                                상품 제고 신청
                            </button>
                        </div>
                        <br>
                    </div>
                </div>
            <!-- 상품 반복문 끝 -->
        </div>
    </div>
</section>
<script>
<!--  새로운 상품 추가하기 위해 이동하는 기능  -->
    function addNewProduct(){

    }

//     상품의 진열 상태를 변경하는 기능
    function changeProductDisplayStatus(button){
        const form = button.closest('form'); // 버튼이 속한 form 찾기
        const select = form.querySelector("select"); // form 안의 select 요소
        const selectedOption = select.options[select.selectedIndex]; // 선택된 option
        const selectedText = selectedOption.text; // 예: "진열"
        const productId = button.getAttribute("data-id");

        if (selectedText === "상품 진열 상태"){
            alert("변경할 상태를 선택해 주세요");
            return false;
        }

        const confirmMessage = `상품 ID ${productId}의 진열 상태를 [${selectedText}]로 변경하시겠습니까?`;
        const confirmed = confirm(confirmMessage);

        if (confirmed) {
            axios({
                method: "post",
                url: "/manager/productInventoryMgmt",
                headers: {
                    'Content-Type': 'application/json'
                },
                data: {
                    productId : productId,
                    selectedOption : selectedOption.value
                }
            }).then(res => {
                console.log("res", res);
                if (res.data === true) {
                    alert("변경 성공");

                } else {
                    alert("변경 실패");
                }
            }).catch(err => {
                console.log("err", err);
                alert("서버 오류 발생");
            });
        }
    }
</script>
</body>
</html>