<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/Bars.css}">
<link rel="stylesheet" th:href="@{/css/Login.css}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>

<style>

</style>
<div th:replace="Bars/nav_bar :: nav"></div>
<body>
<!-- 네비게이션 바 포함 -->

<div class="login-container">
    <h1>로그인</h1>
    <form id="loginForm" th:action="@{/LoginCheck}" method="post">
        <div class="input-container">
            아이디:
            <input type="text" name="username" id="username" class="small-input" required th:value="${username}" /> <br>
        </div>
        <div class="input-container">
            비밀번호:
            <input type="password" name="password" id="password" required class="small-input" th:value="${password}" /><br>
        </div>
        <div class="input-container">
            <label class="inline-label">
                <input type="checkbox" name="checkBox" id="checkBox" class="small-checkbox"> 아이디 저장
            </label>
        </div>
        <div class="input-container">
            <button type="submit" class="small-button">로그인</button>
        </div>
    </form>

    <!-- 회원가입 버튼 추가 -->
    <div class="input-container signup-container">
        <button type="button" class="signup-button" id="signupButton">회원가입</button>
    </div>
</div>

<footer>
    <div th:replace="Bars/footer :: #footer"></div>
</footer>

<script type="text/javascript">
    // 쿠키에서 'username'과 'password'를 가져오는 함수
    // 쿠키에서 특정 값을 가져오는 함수
    function getCookie(name) {
        let value = "; " + document.cookie;
        let parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
        return null;
    }

    // 페이지 로드 시 쿠키 확인
    window.onload = function() {
        let usernameCookie = getCookie("username");
        let checkBoxCookie = getCookie("checkBox");

        // username 쿠키가 있으면 입력 필드에 값 설정
        if (usernameCookie !== null) {
            document.getElementById("username").value = usernameCookie;
        }

        // checkBox 쿠키가 "on"이면 체크박스를 체크 상태로 설정
        if (checkBoxCookie === "on") {
            document.getElementById("checkBox").checked = true;
        }
    };


    // 회원가입 버튼 클릭 시 signin 이벤트 트리거
    document.getElementById("signupButton").addEventListener("click", function() {
        location.href = '/signup';
    });
</script>

</body>
</html>
