<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>

<script>
    // const emailCheck = () => {
    //     const emailInput = document.querySelector('input[name="email"]');
    //     const email = emailInput.value.trim();
    //
    //     // 인풋 박스 바로 아래 요소 선택
    //     let message = document.querySelector("#emailMessage");
    //
    //     // 메시지 요소가 없으면 생성
    //     if (!message || !message.classList.contains('email-message')) {
    //         message = document.createElement("div");
    //         message.id = "emailMessage";
    //         document.querySelector('input[name="email"]').parentNode.appendChild(message);
    //     }
    //
    //     // 입력값이 공백이면 메시지 출력 후 종료
    //     if (!email) {
    //         message.textContent = "잘못된 입력값입니다";
    //         message.style.color = "red";
    //         message.style.marginTop = "5px";
    //         return;
    //     }
    //
    //     axios({
    //         method: "post",
    //         url: "/user/emailSend",
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         data: {
    //             email: email,
    //         }
    //     }).then(res => {
    //         console.log("res", res);
    //
    //         message.textContent = "인증 메일이 전송되었습니다";
    //         message.style.color = "green"; // 성공 메시지 초록색 표시
    //     }).catch(err => {
    //         console.log("err", err);
    //
    //         message.textContent = "이메일 인증에 실패했습니다";
    //         message.style.color = "red";
    //     });
    // }

</script>
</html>