<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    .content {
        padding-bottom: 50px; /* 푸터와의 간격 */
    }

    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
    }


</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<div id="footer">
    <p>&copy; 2025 신사 숙녀. All rights reserved.</p>
</div>
<body>