<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<section id="header">
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><h3><a class="kaqg_main-menu" th:href="@{/tempearteError}">공지사항</a></h3></li>
            <li><h3><a class="kaqg_main-menu" th:href="@{/tempearteError}">교육/지원</a></h3></li>
            <li><h3><a class="kaqg_main-menu" th:href="@{/board-main}">게시판</a></h3></li>
            <li><h3><a class="kaqg_main-menu" th:href="@{/tempearteError}">고객센터</a></h3></li>
            <li th:if="${username == null}"><h3><a class="kaqg_main-menu" th:href="@{/}">로그인</a></h3></li>

            <!-- 'access_type'이 'admin'일 경우 마이페이지와 로그아웃 추가 -->
            <li th:if="${username != null}"><h3><a th:href="@{/mypage}">마이페이지</a></h3></li>
            <li th:if="${username != null}">
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <button type="submit">로그아웃</button>
                </form>
            </li>

        </ul>
    </nav>
</section>

</body>
<style>
 </style>
</html>
