<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장르</title>
</head>
<body>

<!-- 사이드바 -->
<div id="sidebar">
    <h3>장르</h3>
    <ul>
        <li><a th:href="@{/kaqgportal_intro_overview}">판타지</a></li>
        <li><a th:href="@{/ksq9100_iaqglog}">SF</a></li>
        <li><a th:href="@{/main_view}">수필</a></li>
        <li><a th:href="@{/support_edu_list}">고전문학</a></li>
        <li><a th:href="@{/membership_service}">시</a></li>
    </ul>
</div>

</body>
</html>
