<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/Bars.css}">
<link rel="stylesheet" th:href="@{/css/Login.css}">
<link rel="stylesheet" th:href="@{/css/homecss/homeStyles.css}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<!-- 네비게이션 바 포함 -->
<div th:replace="Bars/nav_bar :: nav"></div>
<body>
<!-- Section-->
<section style="width: 3000px; height : 700px;">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center"> <!-- row-cols-xl-5로 5개 배치 -->
            <!-- 반복문으로 상품 출력 -->
            <div class="col mb-5" th:each="product : ${products}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" th:src="|/images/product/@{${product.getProductId()}}.png|" alt="Product Image" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${product.getName()}">Fancy Product</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2" th:if="${product.getRating() != null}">
                                <div class="bi-star-fill" th:each="star : ${#numbers.sequence(1, product.getRating())}"></div>
                            </div>
                            <!-- Product price-->
                            <span th:text="'$' + ${product.price}">$40.00</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{'/productDetail?prdId=' + ${product.getProductId()}}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 상품 반복문 끝 -->
        </div>
    </div>
</section>

<footer>
    <div th:replace="Bars/footer :: #footer"></div>
</footer>
</body>
</html>
