<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>신사 숙녀 Home</title>
    <link rel="stylesheet" th:href="@{/css/Bars.css}">
    <link rel="stylesheet" th:href="@{/css/product-list.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <style>
        .like-count .like-product {
            border: 0;
            background-color: transparent;
            color: red;
        }

        .like-count .not-like-product {
            border: 0;
            background-color: transparent;
            color: white;
        }
    </style>
</head>
<body>
<!-- 네비게이션 바 포함 -->
<div th:replace="Bars/nav_bar :: nav"></div>

<!-- 상품 리스트 섹션 -->
<section class="product-section">
    <!-- 검색 및 정렬 -->
    <div class="search-sort-container">
        <input type="search" placeholder="Search Product Name" id="productName">
        <button type="button" onclick="searchProductFunction()">Search</button>

        <select id="sortOptions">
            <option th:each="option : ${sortList}" th:value="${option.getProductSortId}"
                    th:text="${option.getExplanation}">정렬 기준</option>
        </select>
        <button type="button" onclick="orderProductFunction()">Check</button>
    </div>

    <!-- 상품 리스트 -->
    <div class="product-grid">
        <!-- 검색 결과 있을 때 -->
        <th:block th:if="${param.searchProduct != null}">
            <div class="product-card"
                 th:each="product : ${products}"
                 th:if="${product.getName().contains(param.searchProduct)
                 && !product.getStatus().equals('stop-display')}">
                <input type="hidden" th:value="${product.getProductId()}" class="product-id">
                <div class="product-img">
                    <img th:src="@{'/images/product/' + ${product.getProductId()} + '.png'}"
                         alt="Product Image"
                         th:classappend="${product.status == 'sold-out' ? 'grayscale' : ''}" />
                    <div class="sold-out-overlay" th:if="${product.status == 'sold-out'}">SOLD OUT</div>
                    <!-- 좋아요 수, 후기 수 -->
                    <div class="product-stats">
                        <span class="like-count">
                            <button th:text="|❤ ${product.getLikeCount()}|" onclick="return likeProduct()"
                                    style="border: 0;
                                    background-color: transparent; color: white;"></button>
                        </span>
                        <span class="review-count">
                            <button th:text="|💭 ${product.getReviewCount()}|" onclick="return getProductReviews()"
                                    style="border: 0;
                                    background-color: transparent; color: white;"></button>
                        </span>
                    </div>
                </div>
                <div class="product-info">
                    <h3 th:text="${product.getName()}">Fancy Product</h3>
                    <span class="price" th:text="|${product.price} 원|">₩40,000</span>
                    <a class="detail-btn" th:href="@{'/productDetail?prdId=' + ${product.getProductId()}}">Show Detail</a>
                </div>
            </div>
        </th:block>

        <!-- 모든 상품 표시 -->
        <th:block th:if="${param.searchProduct == null}">
            <div class="product-card"
                 th:each="product : ${products}"
                 th:if="${!product.getStatus().equals('stop-display')}">
                <input type="hidden" th:value="${product.getProductId()}" id="product-id">
                <div class="product-img">
                    <img th:src="@{'/images/product/' + ${product.getProductId()} + '.png'}"
                         alt="Product Image"
                         th:classappend="${product.status == 'sold-out' ? 'grayscale' : ''}" />
                    <div class="sold-out-overlay" th:if="${product.status == 'sold-out'}">SOLD OUT</div>
                    <!-- 좋아요 수, 후기 수 -->
                    <div class="product-stats">
                        <th:block th:if="${session.get('customerId') != null}">
                            <span class="like-count">
                                <button th:text="|❤ ${product.getLikeCount()}|"
                                        th:class="${userLike.contains(product.productId)} ? 'like-product' : 'not-like-product'"
                                        th:attr="data-product-id=${product.getProductId()}"
                                        onclick="return likeProduct(this.getAttribute('data-product-id'))"
                                ></button>
                            </span>
                        </th:block>
                        <span class="review-count">
                            <button th:text="|💭 ${product.getReviewCount()}|" onclick="return getProductReviews()"
                                    style="border: 0;
                                    background-color: transparent; color: white;"></button>
                        </span>
                    </div>
                </div>
                <div class="product-info">
                    <h3 th:text="${product.getName()}">Fancy Product</h3>
                    <span class="price" th:text="|${product.price} 원|">₩40,000</span>
                    <a class="detail-btn" th:href="@{'/productDetail?prdId=' + ${product.getProductId()}}">Show Detail</a>
                </div>
            </div>
        </th:block>
    </div>
</section>

<!-- 푸터 -->
<footer>
    <div th:replace="Bars/footer :: #footer"></div>
</footer>

<!-- 스크립트 -->
<script defer>
    // 좋아요 버튼
    function likeProduct(productId) {
        // 로그인이 되어있는지 확인(세션)
        if(window.sessionStorage.getItem('customerId') === null){
            // 로그인이 안되어 있을 경우
            alert('로그인 후 이용가능한 서비스입니다.');
            window.location.href = "/user/login";
            return;
        }

        // 로그인이 되어있을 경우 - 좋아요
        alert('상품을 좋아요 리스트에 담았습니다.');
        // let productId = document.querySelector('#product-id').value;
        console.log(productId);
        let url = new URL(window.location.href);
        url.searchParams.set("likeProduct", productId);
        window.location.href = url.toString();
    }

    // 리뷰 보러 가기
    function getProductReviews() {
        alert("후기 보기");
    }

    // 검색어 버튼
    function searchProductFunction() {
        let pdName = document.getElementById('productName').value;
        if (!pdName) {
            alert("검색어를 입력하세요.");
            return false;
        }
        let url = new URL(window.location.href);
        url.searchParams.set('searchProduct', pdName);
        window.location.href = url.toString();
    }

    function orderProductFunction(){
        const selectedValue = document.getElementById("sortOptions").value;
        let url = new URL(window.location.href);
        if (!selectedValue) {
            url.searchParams.delete('orderOption');
        } else {
            url.searchParams.set('orderOption', selectedValue);
        }
        window.location.href = url.toString();
    }
</script>

</body>
</html>
