<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderForm</title>
</head>
<body>
<form action="#" th:action="@{/order/submit}" method="post">
    <h3>주문서</h3>

    <!-- 배송지 설정 -->
    <div id="shipping">
        <h4>배송지 설정</h4>
        <label>받는 사람:</label>
        <input type="text" name="recipient" required><br>
        <label>우편번호:</label>
        <input type="text" name="postal_code" required><br>
        <label>주소:</label>
        <input type="text" name="shipping_address_basic" required><br>
        <input type="text" name="shipping_address_detail" required><br>
        <label>전화번호:</label>
        <input type="text" name="recipient_contact" required><br>

    </div>

    <!-- 구매 상품 정보 -->
    <div id="order-items">
        <h4>구매 상품</h4>
        <th:block th:each="item : ${productDetail}">
            <div>
                <span th:text="${item.productName}">상품명</span>
                <span th:text="${item.quantity}">수량</span>
                <span th:text="${item.price}">가격</span>
            </div>
        </th:block>
    </div>

    <!-- 결제 금액 -->
    <div id="payment-info">
        <h4>결제 금액</h4>
        <div>총 상품 금액: <span th:text="${totalAmount}">0원</span></div>
        <div>할인 금액: <span th:text="${discountAmount}">0원</span></div>
        <div>배송비: <span th:text="${shippingFee}">0원</span></div>
        <div>최종 결제 금액: <span th:text="${finalAmount}">0원</span></div>
    </div>

    <!-- 결제 방법 선택 -->
    <div id="payment-method">
        <button type="submit">결제방법 선택하기</button>
    </div>
</form>
</body>
</html>