<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" th:href="@{/css/Bars.css}">
    <link rel="stylesheet" th:href="@{/css/Login.css}">
    <title th:text="${pageTitle}">Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap icons-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons1.5.0/font/bootstrap-icons.css}" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/homecss/homeStyles.css}" rel="stylesheet" />
</head>
<div th:replace="Bars/nav_bar :: nav"></div>
<body>
<!-- Header-->
<header>

</header>

<!-- Section-->
<section class="py-5">
    <!-- 민원 목록 출력 -->
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <!-- 12등분에서 3개씩 한줄에 출력, mb-5는 여백-->
        <div class="col-md-4 mb-5" th:each="complaint : ${complaints}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${complaint.complaintId}">Complaint ID</h5>
                    <p class="card-text">
                        <strong>제목:</strong> <span th:text="${complaint.description}">Description</span><br>
                        <strong>상태:</strong> <span th:text="${complaint.status}">Status</span><br>
                        <strong>작성일:</strong> <span th:text="${complaint.requestDatetime}">Request Date</span>
                    </p>
                    <!-- 확인 버튼과 수정 버튼 추가 -->
                    <div th:if="${complaint != null}">
                        <a class="btn btn-primary" th:href="@{'/complaint/detail/' + ${complaint.complaintId}}">확인</a>
                        <!-- 수정 버튼 미구현-->
                        <a class="btn btn-warning" th:href="@{'/complaint/edit/' + ${complaint.complaintId}}">수정</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer>
    <div th:replace="Bars/footer :: #footer"></div>
</footer>

<!-- Bootstrap core JS-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap5.2.3/dist/js/bootstrap.bundle.min.js}"></script>
<!-- Core theme JS-->
<script th:src="@{/js/homejs/homeScripts.js}"></script>
</body>
</html>
