<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shoppingmall.repository.order.CartRepository">  <!-- 어떤 리포지토리를 볼지 정하는 곳 -->
    <!-- 사용자 정보 삽입 쿼리 -->

    <select id="getCartList" parameterType="String" resultType="CartDto">
        SELECT
            c.no,
            c.customer_id,
            c.product_detail_id,
            c.check_flag,
            c.quantity,
            c.register_date,
            pd.color,  -- 예시로 color를 추가
            pd.size,   -- 예시로 size를 추가
            pdi.image,
            pdi.form,
            p.name, -- 예시로 product_name을 추가
            p.description,
            p.price-- 예시로 product_price를 추가
        FROM
            cart c
        JOIN
            product_detail pd ON c.product_detail_id = pd.product_detail_id
        JOIN
            product_description_image pdi ON pd.product_id = pdi.product_id
        JOIN
            product p ON pd.product_id = p.product_id
        WHERE
            c.customer_id = #{customerId}
        and p.active_flag = 1
        and c.delete_flag != 1;
    </select>

    <update id="updateCartData" parameterType="list">
        UPDATE cart
        SET delete_flag = 1
        WHERE no IN
        <foreach collection="cartData" item="cart" open="(" close=")" separator=",">
            #{cart.no}
        </foreach>
    </update>


    <insert id="insertCartData" parameterType="CartDto">
        INSERT INTO cart
        (customer_id,
         product_detail_id,
         check_flag,
         quantity,
         register_date
        )
        VALUES
            (#{customerId},
             #{productDetailId},
             1,
             #{quantity},
             now())
    </insert>
</mapper>
