<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shoppingmall.repository.payment.PaymentRepository">  <!-- 어떤 리포지토리를 볼지 정하는 곳 -->

    <!-- 주문 정보 저장 -->
    <insert id="insertOrder">
        INSERT INTO orders (
            order_id, customer_id, order_status, 
            total_order_amount, total_quantity, total_type_cnt
        )
        VALUES (
            #{orderId}, #{customerId}, #{orderStatus},
            #{totalOrderAmount}, #{totalQuantity}, #{totalTypeCnt}
        )
    </insert>

    <!-- 주문 상세 정보 저장 -->
    <insert id="insertOrderDetail">
        INSERT INTO order_detail (
            serial_number, order_id, product_id, product_name,
            size, quantity, price, discount_amount,
            product_price, product_total_price
        )
        VALUES (
            #{orderDetailId}, #{orderId}, #{productId}, #{productName},
            #{size}, #{quantity}, #{price}, #{discountAmount},
            #{productPrice}, #{productTotalPrice}
        )
    </insert>

    <!-- 결제 정보 저장 -->
    <insert id="insertPayment">
        INSERT INTO payment (
            payment_id, order_id, payment_method_id,
            installment, card_number,
            bank_deposit, cash_receipt_type, cash_receipt_number
        )
        VALUES (
            #{paymentId}, #{orderId}, #{paymentMethod},
            #{cardInstallment}, #{cardNumber},
            #{cashBankName}, #{cashReceiptType}, #{cashReceiptNumber}
        )
    </insert>

</mapper>
