<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shoppingmall.repository.product.ProductLikeRepository">  <!-- 어떤 리포지토리를 볼지 정하는 곳 -->
<!--  로그인된 사용자가 좋아요를 눌렀을 경우  -->
    <insert id="setLikeProductById">
        INSERT INTO product_like (
             product_id, user_id, like_at, delete_flag
        )
        VALUES (
             #{productId}, #{userId}, now(), 0
        )
    </insert>

<!--  로그인된 유저가 좋아요 한 상품 표시하기  -->
    <select id="getLikeProductById">
        SELECT product_id
        FROM product_like
        WHERE user_id = #{userId}
    </select>

<!--  좋아요를 눌렀는지 확인하기  -->
    <select id="checkLikeExists">
        SELECT *
        FROM product_like
        WHERE product_id = #{productId} AND user_id = #{userId}
    </select>
</mapper>