<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shoppingmall.repository.shipping.ManagementRepository">  <!-- 어떤 리포지토리를 볼지 정하는 곳 -->

    <select id="selectTest" resultType="org.example.shoppingmall.dto.shipping.ShippingDto">
        select * from test
    </select>


    <insert id="test" parameterType="org.example.shoppingmall.dto.shipping.ShippingDto">
        INSERT INTO test (boardWriter, boardPass, boardTitle, boardContents)
        VALUES (#{boardWriter}, #{boardPass}, #{boardTitle}, #{boardContents});
    </insert>

    <select id="findAll2" resultType="org.example.shoppingmall.dto.shipping.ShippingDto">
        select Id, boardTitle, boardWriter, boardHits, createdAt as createdAt
        from test order by id desc
    </select>

    <select id="findById" resultType="org.example.shoppingmall.dto.shipping.ShippingDto">
        select Id, boardTitle, boardWriter, boardHits, createdAt as createdAt
        from test where id=#{id}
    </select>

</mapper>
