<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shoppingmall.repository.User.UserRepository">  <!-- 어떤 리포지토리를 볼지 정하는 곳 -->
    <!-- 사용자 정보 삽입 쿼리 -->

    <select id="getCustomerId" parameterType="String" resultType="String">
        Select *
        from customer
        where customer_id = #{customerId}
    </select>

    <insert id="insertUserInfo" parameterType="InsertUserInfoDto">
        INSERT INTO customer
            (customer_id, pw, email, name, nickname, created_datetime,
             phone_number, birth, recommend_id)
        VALUES
            (#{customerId}, #{pw}, #{email}, #{name}, #{nickName}, now(),
             #{phoneNumber}, #{birth}, #{recommendId})
    </insert>

    <insert id="insertUserDeliveryInfo" parameterType="InsertUserInfoDto">
        INSERT INTO address
        (address_id,
         customer_id,
         code,
         delivery_name,
         address,
         detail_address,
         zip_code,
         status,
         receive_people,
         receive_phone_number,
         active_flag
         )
        VALUES
            (#{addressId},
             #{customerId},
             #{code},
             '기본',
             #{address},
             #{detailAddress},
             #{zipCode},
             0 ,
             #{name},
             #{phoneNumber},
             1)
    </insert>

    <select id="checkNickname" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM customer
        WHERE nickname = #{nickName}
    </select>

    <select id="getAddressCode" parameterType="String" resultType="String">
        SELECT code_no
        FROM code_detail
        WHERE code_name = #{addressName}
    </select>







</mapper>
