<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shoppingmall.repository.User.UserRepository">  <!-- 어떤 리포지토리를 볼지 정하는 곳 -->
    <!-- 사용자 정보 삽입 쿼리 -->

    <select id="getCustomerId" parameterType="String" resultType="String">
        Select *
        from customer
        where customer_id = #{customerId}
    </select>

    <insert id="insertUserInfo" parameterType="InsertUserInfoDto">
        INSERT INTO customer
            (customer_id, pw, email, name, nickname, created_datetime,
             phone_number, birth, recommend_id)
        VALUES
            (#{customerId}, #{pw}, #{email}, #{name}, #{nickName}, now(),
             #{phoneNumber}, #{birth}, #{recommendId})
    </insert>

    <select id="checkNickname" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM customer
        WHERE nickname = #{nickName}
    </select>







</mapper>
